body {
  height: 100%;
  background-image: linear-gradient(-90deg, #13f1fc, #0470dc);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: left;
  line-height: 5px;
}

section {
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 20px;
  border: 2px solid #0470dc;
}

.image img {
  height: 100%;
  width: 100%;
}

.image {
  height: 150px;
  width: 135px;
  margin-top: -160px;
  margin-left: 200px;
}

button {
  display: block;
  width: 100%;
  background-color: #0470dc;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #13f1fc;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #13f1fc;
  color: #0470dc;
}
@media(max-width:420px){
  .image{
    margin-left: 180px;
    height: 135px;
    width: 120px;
  }
}
@media(max-width:390px){
  .image{
    margin-left: 180px;
    height: 120px;
    width: 105px;
  }
}