@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #00246b;
}
form {
  margin: auto;
  background-color: #cadcfc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: #cadcfc;
}
fieldset {
  border: 2px solid #8ab6f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  color: black;
}
legend {
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  color: #00246b;
}
label {
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  color: #00246b;
}
input,
textarea {
  margin-top: 4px;
  padding: 8px;
  width: calc(100% - 1px);
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  display: block;
  width: 100%;
  background-color: #8ab6f9;
  color: #00246b;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #00246b;
  color: #8ab6f9;
}
#resume-display {
  max-width: 600px;
  color: #00246b;
  line-height: 40px;
  margin: auto;
  padding: 20px;
  border: 2px solid skyblue;
  border-radius: 8px;
  background-color: rgb(228, 242, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#resume-display h1, h2 {
  color: #00246b;
}


/* .container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-90deg, #13f1fc, #0470dc);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 30px;
    
  } */
/* #resume-form {
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: left;
  } */
/* fieldset {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #0470dc;
  } */
/* legend {
    font-weight: bolder;
    text-align: left;
    font-size: 25px;
  } */
/* label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  } */
/* input,
  textarea {
    width: calc(100% - 1px);
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    border: 2px solid #0470dc;
  }
  #profilePicture {
    border: none;
  } */
/* button {
    display: block;
    width: 100%;
    background-color: #0470dc;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #13f1fc;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
  }
  button:hover {
    background-color: #13f1fc;
    color: #0470dc;
  } */

/* OUTPUT */
/* .output{
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: left;
    display: none;
    
  }
  .output .Information{
    border: 2px solid #0470dc;
    border-radius: 8px;
    padding: 20px;
  }
  .output h2{
    display: inline;
  }
  .output h3{
    display: inline;
    margin-left: 10px;
  }
  .output div{
    margin-top: 20px;
  } */
/* .output .Information .education{
    margin-top: 50px;
    line-height: 10px;
  }
  .output .Information .experience{
    margin-top: 50px;
    line-height: 10px;
  }
  .output .Information .skills{
    margin-top: 50px;
    line-height: 10px;
  } */
